*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
/* variables */
:root{
    --green:hsl(75, 94%, 57%);
    --white:hsl(0, 0%, 100%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);
    --font-size:14px;
    --weight-1:400;
    --weight-2:600;
    --weight-3:700;
}
main{
    height: 100vh;
    background-color: var(--Grey-900);
    display: flex;
}
main .container{
    width: 22%;
    height:68%;
    margin: auto;
    background-color: var(--Grey-800);
    border-radius: 8px;
    display: flex;
}
.container:hover {
    box-shadow: var(--green) 0 0 15px 5px;
    transition-duration: 1s;
}
.container .content{
    width: 82%;
    height: 87%;
    margin: auto;
}
.content .profile-image{
    width: 100%;
    height: 17%;
    display: flex;
}
.content .menu {
    height: 55%;
    width: 100%;
    margin-bottom: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.content .info{
    height: 28%;
}
.profile-image img{
    border-radius: 50%;
    height: 100%;
    margin:auto;
}
.content {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.content, .location, .job :not(.name){
    font-size: var(--font-size);
    text-align: center;
    color: var(--white);
}
.info .name{
    font-size: calc(var(--font-size) + 8px);
    font-weight: var(--weight-3);
    margin-top: 1.2rem ;
}
.info .location{
    font-weight: var(--weight-3);
    font-size: calc(var(--font-size) - 3px);
    color: var(--green);
    margin-top: 0.3rem ;
}
.info .job{
    font-weight: var(--weight-1);
    font-size: calc(var(--font-size) - 2px);
    margin:1rem 0 0.5rem 0;
}
.menu li{
    list-style: none;
    text-align: center;
    display: flex;
    flex-flow: column;
}
.menu li a{
    background-color: var(--Grey-700);
    color: var(--white);
    font-weight: var(--weight-3);
    border-radius: 8px;
    padding: 0.5rem 0;
    text-decoration: none;
}
.menu li a:hover{
    background-color: var(--green);
    color: var(--Grey-900);
    font-size: calc(var(--font-size) + 1px);
    font-weight: var(--weight-3);
    padding:0.6rem 0 ;
}
/* laptops 768px - 1024px */
@media (max-width:1024px) {
    main .container{
        width: 83%;
        height:76%;
    }
    .container:hover {
        box-shadow: var(--green) 0 0 15px 5px;
        transition-duration: 1s;
    }
    .container .content{
        width: 87%;
        height: 89%;
    }
    .content .profile-image{
        height: 21%;
    }
    .content .info{
        height: 29%;
    }
    .content .menu{
        height: 52%;
    }
    .info .name{
        font-size: calc(var(--font-size) + 16px);
        margin-top: 1.8rem ;
    }
    .info .location{
        font-size: calc(var(--font-size) + 3px);
        margin-top: 0.6rem ;
    }
    .info .job{
        font-size: calc(var(--font-size) + 5px);
        margin:2rem 0 1.2rem 0;
    }
    .menu li a{
        padding: 1.1rem 0;
        font-size: var(--font-size);
    }
    .menu li a:hover{
        padding:0.8rem 0 ;
        font-size: calc(var(--font-size) + 1.5px);
        background-color: var(--green);
        color: var(--Grey-900);
    }
}
/* tablets 475px - 768px */
@media (max-width:768px) {
    main .container{
        width: 85%;
        height:75%;
    }
    .container .content{
        width: 82%;
        height: 90%;
    }
    .content .profile-image{
        height: 18%;
    }
    .content .info{
        height: 28%;
    }
    .content .menu{
        height: 50%;
    }
    .info .name{
        font-size: calc(var(--font-size) + 18px);
        margin-top: 1.8rem ;
    }
    .info .location{
        font-size: calc(var(--font-size) + 3px);
        margin-top: 0.6rem ;
    }
    .info .job{
        font-size: calc(var(--font-size) + 2px);
        margin:2rem 0 1.2rem 0;
    }
    .menu li a{
        padding: 1.1rem 0;

    }
    .menu li a:active{
        padding:0.8rem 0 ;
        font-size: calc(var(--font-size) + 3px);
        background-color: var(--green);
        color: var(--Grey-900);
    }
}
/* phones 320px - 430px */
@media (max-width:430px) {
    main .container{
        width: 85%;
        height:75%;
    }
    .container .content{
        width: 85%;
        height: 92%;
    }
    .content .profile-image{
        height: 20%;
    }
    .content .info{
        height: 30%;
    }
    .content .menu{
        height: 50%;
    }
    .info .name{
        font-size: calc(var(--font-size) + 20px);
        margin-top: 2.2rem ;
    }
    .info .location{
        font-size: calc(var(--font-size) + 4px);
        margin-top: 1rem ;
    }
    .info .job{
        font-size: calc(var(--font-size) + 2.5px);
        margin:2.5rem 0 1.3rem 0;
    }
    .menu li a{
        padding: 1rem 0;
        font-size: calc(var(--font-size) + 3px);
    }
    .menu li a:active{
        padding:0.6rem 0 ;
        background-color: var(--green);
        color: var(--Grey-900);
        font-size: calc(var(--font-size) + 4px);

    }
}
